/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1, h2 {
  line-height: 2;
}

.content-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.top-content p {
  line-height: 4;
  padding-left: 30px;
  font-size: 14px;
}

.start-button {
  padding-left: 30px;
}

.index-books td {
  width: 250px;
}

.index-books {
  padding: 10px;
}

.new-book {
  padding: 10px;
}

.submit-button {
  display: block;
  padding: 2px 5px;
}

.form-box {
  margin-bottom: 10px;
}

.link-item {
  padding-right: 5px;
}

table {
  font-size: 14px;
}

.show-content {
  padding-left: 30px;
  font-size: 14px;
  line-height: 4;
}

.link-button {
  padding: 10px;
  font-size: 14px;
}

.error-box {
  width: 500px;
  border: solid 2px red;
  background-color: whitesmoke;
}

.error-count {
  background-color: #cc0000;
  color: #ffffff;
  padding: 5px 10px;
}

.flash-message {
  line-height: 4;
  color: mediumseagreen;
}

.error-box li {
  list-style: none;
}

.error-box ul {
  margin: 50px;
}